/* 
    Document   : certificados_laboral
    Created on : 16/04/2012, 10:18:33 AM
    Author     : amendez
    Description:
        Purpose of the stylesheet follows.
*/

#contenedor_filtros{
    width: 50em;
    margin: 0 auto;
} 