
html.html-app, .html-app body{
    height: 100%;
}
html {        
    background-color: #F5F5F5;
}
body {    
    color: black;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 12px;
    margin: 5px;
}
.app fieldset{
    border: 1px solid #666;
    border-radius: 5px;
    padding: 10px;
}
.app legend{
    color: #666;
    padding: 0 5px 0 5px;
    font-weight: bold;
}
.app table{
    width: 100%;
}
.app form input{
    margin: 2px 0 2px 0;
    padding: 4px;
}
.app select{
    padding: 4px;
}
.form-label{
    margin-bottom: 3px;
    display: block;
}
.form-in{
    margin-bottom: 10px;
    display: block;
}

nav#nav_menu{    
    width: 1024px;
    margin: 0 auto;
}
div#dv_main{        
    background-color: white;
    border: 1px solid silver;
    margin: 0 auto;
    display: block;
    width: 1024px;
    height: 70%; 
    overflow: auto;
    padding: 5px; 
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}
.border{
    border: 1px dotted red;
}
