/**
 * 
 * 
 */
html, body{
    height: 100%;    
}
html{        
    background-color: #F5F5F5;
}
body{    
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 12px;    
}
/* [Inicio] Header */
header{
    color: #4183C4;
    font-weight: bold;
    position: relative;
    height: 8em; 
    display: block; 
    border-bottom: 3px solid #357AE8;
    padding: 8px 10px;    
}
header div#logo{
    float: left;
}
header div#contenedor_usuario{
    position: absolute; 
    bottom: 0; 
    right: 0; 
    margin-right: 10px; 
    padding: 8px;
}
header div#contenedor_usuario a{
    text-decoration: none; 
    color: #4183C4;     
    padding: 4px 7px;    
}
header div#contenedor_usuario a:hover{
    color: #FFFFFF;    
    border: 0px solid #4183C4;        
    background-color: #3178be;
    border-radius: 5px;
}
/* [Fin] Header */
/* [Inicio] Contenido principal */
#dv_main{
    width: 1024px;
    margin: 0 auto;
    max-width: 1024px;
    border-left: 1px solid #e2e1e1; 
    border-right: 1px solid #e2e1e1; 
    border-bottom: 1px solid #e2e1e1;    
    height: auto;
}
#dv_contenido{        
    background-color: white;         
    display: block;    
    min-height: 550px; 
    overflow: auto;
    padding: 0px 7px 7px 7px;     
}
/* [Fin] Contenido principal */
/* [Inicio] Estilos del footer */
footer{
    background-color: #3c3434;
    border-top: 2px solid silver;
    height: 100px;
    color: #e2e1e1;
    margin-top: 5px;
    padding-right: 20px;    
    padding: 15px 15px;
}
footer a{
    color: white;
    text-decoration: none;
    text-shadow: 2px 1px 1px silver;
}
/* [Fin] Estilos del footer */

fieldset{
    border: 1px solid #666;
    padding: 0px 8px 8px 8px;
    border-radius: 5px;
}
legend{
    margin: 0px 5px 5px 5px;
    padding: 0 5px 0 20px;
    background: url('/img/lupa.png') no-repeat 2px center; 
}
table{
    width: 100%;
}
table tr td{
    vertical-align: top;
}
#nav_menu{        
}
.btnGeneral {
    font-family: tahoma,arial,verdana,sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 12px;    
    margin: 0;
    text-decoration: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;    
            border-radius: 4px;	
    /* text-shadow: 0px 1px 1px #000000;   */
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #3079ED;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#609cff), to(#4787ED));
    background: -moz-linear-gradient(top, #609cff, #4787ED);     
}
.btnGeneral:hover {	    
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#4787ED), to(#609cff));
    background: -moz-linear-gradient(top, #4787ED, #609cff); 
    cursor: pointer;    

}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}
.border{
    border: 1px dotted red;
}
.error_login{
    background-color: #FFFFE0;
    border: 1px solid #E6DB55;    
    padding: 5px;
    border-radius: 5px;
    text-align: justify;
}
/* [Inicio] Estilos para los mensajes */
#dv_mensajes_container{
    background-color: white;    
}
#dv_mensajes_container p{
    width: 180px; 
    padding: 5px; 
    /* background-color: #e2e1e1; */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#E2E1E1));
    background: -moz-linear-gradient(top, #f0f0f0, #E2E1E1);
    margin: 0 auto; 
    border-radius: 0 0 5px 5px; 
    cursor: pointer;
}
#dv_mensajes{
    max-height: 11em; 
    overflow: auto; 
    width: 100%; 
    border-bottom: 1px solid #e2e1e1; 
    display: block;
}
ul#list_mensajes{    
    background-color: #FFFFE0;
    border: 1px solid #E6DB55;
    margin: 7px;
    padding: 5px;
    border-radius: 5px;
    text-align: justify;
    box-shadow: 0 0 0.25em #E6DB55;
}
.mError{
    
    background: url('/img/error.png') no-repeat 0 center;
    padding: 3px 20px; 
    color: #D8000C;
    margin-left: 5px;
}
.mExito{        
    background: url('/img/ok.png') no-repeat 0 center;
    padding: 3px 20px; 
    color: #4F8A10;
    margin-left: 5px;
}
/* [FIN] Estilos para los mensajes */
/* [Inicio] Estilos para los filtros de consulta */
.formLabel{
    display: block;
    padding: 3px;
    margin: 4px 2px 3px 0;        
    background-color: #e2e1e1;
}
.formInput{
    padding: 4px;        
    border: 1px solid #4D90FE; 
    border-radius: 3px;
}
.formSelect{
    padding: 4px;
    border: 1px solid #4D90FE;
} 
/* [FIN] Estilos para los filtros de consulta */