/** 
    Document   : estilos
    Created on : 16/04/2012, 10:18:33 AM
    Author     : amendez
    Description: Estilos generales para la aplicación.        
**/
body{ 
    background-color: #EAF3F8;   
    font-size: 12px;
}
.dFondo{
    background: rgb(234,243,248); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(234,243,248,1) 61%, rgba(226,226,226,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(61%,rgba(234,243,248,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(234,243,248,1) 61%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(234,243,248,1) 61%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(234,243,248,1) 61%,rgba(226,226,226,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(234,243,248,1) 61%,rgba(226,226,226,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf3f8', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}

/* [Inicio] Header */
header{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 14%, rgba(232,232,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,rgba(255,255,255,1)), color-stop(100%,rgba(232,232,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 14%,rgba(232,232,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 14%,rgba(232,232,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 14%,rgba(232,232,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 14%,rgba(232,232,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */

    color: #4183C4;
    font-weight: bold;
    position: relative;
    height: 6.5em; 
    display: block; 
    border-bottom: 3px solid #357AE8;
    padding: 8px 10px;    
}
/* [Fin] Header */

/* [Inicio] Contenido principal */
#dv_contenido{            
    background-color: white;         
    overflow: auto;
    min-height: 500px;
    border-radius: 0 0 10px 10px; 
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
/* [Fin] Contenido principal */

/* [Inicio] Estilos del footer */
footer{
    /* background-color: #3c3434; */
    /* border-top: 2px solid silver; */
    /* height: 100px; */
    color: #3c3434; /* #e2e1e1; */
    margin-top: 5px;
    padding-right: 20px;    
    padding: 15px 15px;
}
footer a{
    color: #3c3434;
    text-decoration: none;
    text-shadow: 2px 1px 1px white;
}
/* [Fin] Estilos del footer */

/* [Inicio] estilos generales */
.right{
    text-align: right !important;
}
.left{
    text-align: left  !important;
}
.center{
    text-align: center;
}
.justify{
    text-align: justify;
}
.bg_white{
    background-color: white;    
}
.bg_gray{
    background-color: #F4F4F4;
}
.app-btn-form{
    margin-bottom: 9px;
}
.app-legend{
    margin: 0 0 7px 0;
}
.app-well{
    padding: 7px 13px;
}
.app-margin{
    margin: 7px;
}
.app-no-margin{
    margin: 0;
}
.app-text-color{
    color: #3A87AD;
}
/* [Fin] estilos generales */

/* [Inicio] estilos para tablas */
table tr td{
    vertical-align: top;
}
.app-table-full{
    width: 100%;
}
.app-table-spacing tr td{
    padding: 0 5px;
}
.app-td-top{
    vertical-align: top; 
}
.app-td-middle{
    vertical-align: middle;
}
.app-td-bottom{
    vertical-align: bottom;
}
/* [Fin] estilos para tablas */

/* [Inicio] Estilos para los mensajes */
.area_msg{
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
#p_mensajes{
    width: 180px; 
    padding: 5px; 
    /* background-color: #e2e1e1; */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#E2E1E1));
    background: -moz-linear-gradient(top, #f0f0f0, #E2E1E1);
    margin: 0 auto; 
    border-radius: 0 0 5px 5px; 
    cursor: pointer;
}
#dv_mensajes{
    max-height: 11em; 
    overflow: auto; 
    width: 100%; 
    border-bottom: 1px solid #e2e1e1; 
    display: block;
}
.alert-margin{
    margin: 10px;
}
/* [FIN] Estilos para los mensajes */
